@font-face {
   font-family: "instrumentsans_i5";
   src: url("./instrumentsans_i5.woff2");
}

@font-face {
   font-family: "instrumentsans_i7";
   src: url("./instrumentsans_i7.woff2");
}

@font-face {
   font-family: "instrumentsans_n5";
   src: url("./instrumentsans_n5.woff2");
}

@font-face {
   font-family: "instrumentsans_n6";
   src: url("./instrumentsans_n6.woff2");
}

:root {
   --transparent-color-white: rgba(255, 255, 255, 0.5);

   --color-white: #ffffff;
   --color-black: #000000;
   --color-dark-green: #1f473e;
   --color-bg-color-1: #f2efe6;

   --color-accent: #133b2d;

   --font-one: "instrumentsans_i5", sans-serif;
   --font-two: "instrumentsans_i5", sans-serif;
   --font-three: "instrumentsans_n5", sans-serif;
   --font-four: "instrumentsans_n6", sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   font-family: var(--font-four);
}
